.cont {
    width: 65%;
    margin: auto;
    max-width: 750px;
}

.wrapper {

    margin-bottom: 1000px;

    #map {
        top:0;
        bottom:0;
        position: absolute;
        width:50%;
        height:100vh;
    }
    #features {
        width: 50%;
        margin-left: 50%;
        font-family: akkurat,sans-serif;
        overflow-y: scroll;
        background-color: #fafafa;
        margin-bottom: -50px;
    }
    section {
        padding:  25px 50px;
        line-height: 25px;
        border-bottom: 1px solid #ddd;
        opacity: 0.25;
    }
    section.active {
        opacity: 1;
    }
    section:last-child {
        border-bottom: none;
    }

    #map.mapfix {
        position:fixed;
        top:60px;
    }

    .marker {
      background-image: url('finish_line_icon.png');
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
}
